<p id="notice"><%= notice %></p>
  <div>
    <h1>Events</h1>
    <%= form_tag events_path, method: "get" do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", name: nil %>
        </p>
    <% end %>
  </div>

  <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="events/<%=event.id %>">
            <%= image_tag("event-image.jpg",size: "200x100", style: "width: 100%") %>
            <div class="caption">
              <h3><%= event.title %></h3>
              <p><%= event.details %></p>
            </div>
          </a>
        </div>
      </div>
  <% end %>
  <!--<%= link_to 'New Event', new_event_path %>-->