<!DOCTYPE html>
<html>
  <head>
    <title>Collegeplus</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container" style="width: 90%">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/events"><img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t35.0-12/16833636_1312030608840079_168339245_o.png?oh=ee1050f99aef2491d7650ff5037ad9de&oe=58AB2517" style="max-width:120px; margin-top: -15px;"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/home">Home</a></li>
            <li>
              <a href="/events">Events</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <% if notice.present? %>
      <br>
      <div class="container">
        <div class="alert alert-info"><%= notice %></div>
      </div>
    <% elsif alert.present? %>
      <br>
      <div class="container">
        <div class="alert alert-danger"><%= alert %></div>
      </div>
    <% end %>

    <%= yield %>

  </div>
  </body>
</html>
